<% if flash[:success] %>
<div class="alert alert-info">
    <%= flash[:success] %>
</div>
<% end %>

<% if flash[:error] %>
<div class="alert alert-danger">
    <%= flash[:error] %>
</div>
<% end %>

<div class="card border-0">
    <div class="card-body">
        <div class="card-body">
            <% spotlight = Work.spotlight %>
            <h2 class="card-title row bold-title">Media Spotlight: <div class="spotlight bold-title"> <%= link_to spotlight.title, work_path(spotlight), style:"text-decoration: underline" %> by <%= spotlight.creator %></div>
            </h2>
            <p class="card-text">
                <p><%= spotlight.votes.count %> votes - <%= spotlight.description %></p>

        </div>
    </div>
</div>

<div class="row flex-nowrap">
    <div class=" col-md-4">
        <table class="responsive table table-borderless tbs">
            <tbody>
                <h3 class="spotlight bold-title work-title"> Top Movies </h3>
                <% Work.movies_list[0..10].each do |work| %>
                <tr>
                    <td><%= link_to work.title, work_path(work), class:"spotlight bold-sub-title" %> by: <%= work.creator %> </br><%= work.votes.count %> votes</td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>

    <div class=" col-md-4 ">
        <table class="responsive table table-borderless tbs">
            <tbody>
                <h3 class="spotlight bold-title work-title"> Top Books </h3>
                <% Work.books_list[0..10].each do |work| %>
                <tr>
                    <td><%= link_to work.title, work_path(work), class:"spotlight bold-sub-title" %> by: <%= work.creator %></br><%= work.votes.count %> votes </td>

                </tr>
                <% end %>
            </tbody>
        </table>
    </div>

    <div class=" col-lg-6 col-md-6 col-sm-12">
        <table class="responsive table table-borderless">
            <tbody>
                <h3 class="spotlight bold-title work-title"> Top Albums </h3>
                <% Work.albums_list[0..10].each do |work| %>
                <tr>
                    <td><%= link_to work.title, work_path(work), class:"spotlight bold-sub-title" %> by: <%= work.creator %></br><%= work.votes.count %> votes</td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>