<table class="table ">
    <thead>
        <tr>
            <th>#</th>
            <th>Category</th>
            <th>Title</th>
            <th>Creator</th>
            <th>Publications Year</th>
            <th>Description</th>

        </tr>
    </thead>
    <tbody>
        <h3> Top Movies </h3>
        <% @works.each do |work| %>
        <tr>
            <%# <th scope="row">1</th> %>
            <td><%= work.id %></td>
            <td><%= work.category %></td>
            <td><%= link_to work.title, work_path(work),class:"spotlight" %></td>
            <td><%= work.creator %></td>
            <td><%= work.publication_year %></td>
            <td><%= work.description %></td>
        </tr>
        <% end %>
    </tbody>
</table>
</div>