<% if flash[:success] %>
<div class="alert alert-info">
    <%= flash[:success] %>
</div>
<% end %>

<% if flash[:error] %>
<div class="alert alert-danger">
    <%= flash[:error] %>
</div>
<% end %>

<div class="">
    <div class="card testimonial-card">
        <div class="card-up blue"></div>
        <div class="avatar white">
            <img src="https://lh3.googleusercontent.com/09MrSuA_03kFmwv0UIoDN3fgQq5k0KDJvL0z9fc-zQc0ula3Z6qykCTNsKlCi-lCt7txzDdH9hre9ODBfA=s1600">
        </div>
        <div class="card-body">

            <h2 class="spotlight"> <strong> <%= @work.title %></strong></h2>

            <p><strong>Creator</strong>: <%= @work.creator %></p>
            <p><strong>Publication Year</strong>: <%=  @work.publication_year %></p>
            <p><strong>Description</strong>: <%= @work.description %></p>
            <p><strong>Category</strong>: <%= @work.category %></p>

            <%= link_to "Back to Media Ranks", works_path, class: "btn btn-primary btnn"%>
            <%= link_to "Edit", edit_work_path(@work.id), class: "btn btn-primary btnn"%>
            <%= link_to "Upvote", work_votes_path(@work.id), method: :post, class: "btn btn-primary btnn"%>
            <%= link_to "Delete", work_path(@work), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btnn" %> 

        </div>

        <div>
            <h3><%= @work.votes.count%> Votes for this <%=@work.category.capitalize %> </h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% @work.votes.each do |vote| %>
                    <tr>
                        <td><%= link_to vote.user.username, user_path(vote.user_id)%></td>
                        <td><%=vote.created_at %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>