<% if flash[:success] %>
<div class="alert alert-info">
    <%= flash[:success] %>
</div>
<% end %>

<% if flash[:error] %>
<div class="alert alert-danger">
    <%= flash[:error] %>
</div>
<% end %>

<main>
    <h2 class="spotlight">User Summary: <%=link_to @user.username, user_path(@user.id) %></h2>
    <p>Joined site <%= @user.joined %></p>
    <section>
        <h3>Votes</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Created By</th>
                    <th>Published</th>
                    <th>Category</th>
                    <th>Voted On</th>
                </tr>
            </thead>
            <tbody>
                <% @user.votes.each do |vote| %>
                <tr>
                    <td><%=link_to vote.work.title, work_path(vote.work.id)%></td>
                    <td><%=vote.work.creator%></td>
                    <td><%=vote.work.publication_year%></td>
                    <td><%=vote.work.category%></td>
                    <td><%=vote.work.created_at%></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </section>
    <%= link_to "See all Users", users_path, class: "btn btn-secondary btnn" %>
    <%= link_to "Back to Media List", works_path, class: "btn btn-primary btnn" %>
</main>